#chart-container {
	position: relative;
	display: inline-block;
	
	font-family: 'Slabo 13px', serif;
	font-size: 12pt;
	
	width: 100%;
}
#chart {
	display: inline-block;
	vertical-align: top;
}
#chart.loading::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: block;
	
	padding-top: 25%;

	color: rgba(0, 0, 0, 0);
	font-size: 32pt;
	text-align: center;

	content: 'loading...';

	animation: fade 0.125s linear .5s 1 forwards;
	-webkit-animation: fade 0.125s linear .5s 1 forwards;
}
@keyframes fade
{
	0%   {color: rgba(0, 0, 0, 0);}
	100% {color: rgba(0, 0, 0, 0.8);}
}

@-webkit-keyframes fade /* Safari and Chrome */
{
	0%   {color: rgba(0, 0, 0, 0);}
	100% {color: rgba(0, 0, 0, 0.8);}
}
#side {
	display: inline-block;
	vertical-align: top;
}
#data {
	display: inline-block;
	vertical-align: top;
	
	margin-left: 12px;
}
#last-update {
	margin-top: 12pt;
}
#data .rickshaw_legend {
	padding: 0.2em 0 0.2em 0;

	font-family: 'Slabo 13px', serif;
	font-size: 14pt;
	font-weight: 400;
}
#data .rickshaw_legend ul {
	margin: 0;
}
#data .rickshaw_legend .line {
	padding-left: 0;
	padding-right: 10px;

	line-height: 1;
	font-size: 14pt;
}
#data .rickshaw_legend .line .swatch {
	border-radius: 0px;
	width: 1em;
	height: 1em;
	margin-bottom: -0.125em;
	margin-right: 0.25em;
	box-sizing: border-box;
}
#data .rickshaw_legend .action {
	opacity: 0.9;
	padding: 0.3em 0.3em 0.3em 0.6em;
	font-size: 16pt;
	display: inline-block;
}
#data .rickshaw_legend .action:hover {
	opacity: 1.0;
}
#data .display {
	margin-bottom: 8pt;
}
#data .display .name {
	font-style: italic;
	color: #6b6b6b;
}
#data .display .value {
	text-align: right;
}
#current-data {
	font-size: 11pt;
	font-weight: 400;
}

#controls {
	display: inline-block;
	vertical-align: top;
	
	margin-left: 12px;
}
#offset-form {
	line-height: 1.5;
}
#y-axis {
	float: left;
	width: 70px;
}
#y-axis > svg {
	overflow: visible;
}

.rickshaw_graph .detail {
	line-height: 1.5;
}

.rickshaw_graph .detail .x_label { 
	display: none;
	font-size: 12pt;
}

.rickshaw_graph .detail .item { 
	padding: .5em;
	margin-top: -1.25em;
	font-size: 10pt;
}

footer {
	font-family: 'Slabo 13px', serif;
	font-size: 10pt;
	font-weight: 400;

	color: #6b6b6b;

	margin: 4pt;
}

footer a, a:link {
	color: #4DBCE9;
}

@media print {
	#chart-container {
		width: 0%;
	}
	#controls {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	#logo {
		font-size: 24pt;
	}
	#side {
		display: block;
		margin-left: 15px;
		margin-top: 2em;
	}
	h1 {
		font-size: 16pt;
	}
	#nav, .chart-title, .description {
		margin-left: 16pt;
	}
}