html, body {
	padding: 0px;
	margin: 0px;
}

.container {
	height: calc(100vh - 72pt);
	width: 100%;
	
	box-sizing: border-box;
}

.bucket {
	background-image: url('../images/bucket.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	box-sizing: border-box;

	height: 70%;
	width: 80%;

	text-align: center;
	
	margin-left: auto;
	margin-right: auto;

	vertical-align: middle;
}

.container h1, .container h2 {
	font-size: 36pt;
	
	color: black;

	padding: 0px;
	margin: 0px;
}

.container h1#amount {
	font-family: 'Slabo 13px', serif;
	font-weight: 400;

	position: relative;
	top: 60%;
}

.container h2 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 28pt;
	
	width: 80%;

	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}

@media (max-width: 200px) {
	.container h1#amount {
		font-size: 16pt;
		transform: translateY(-70%);
	}
	.container h2 {
		font-size: 12pt;
	}
}
@media (max-width: 600px) {
	.container h1#amount {
		font-size: 24pt;
	}
	.container h2 {
		font-size: 20pt;
	}
}
@media (max-height: 200px) {
	.container h1#amount {
		font-size: 16pt;
		transform: translateY(-70%);
	}
	.container h2 {
		font-size: 12pt;
	}
}
@media (max-height: 600px) {
	.container h1#amount {
		font-size: 24pt;
	}
	.container h2 {
		font-size: 20pt;
	}
}