html, body {
	padding: 0px;
	margin: 0px;
	background-color: white;
}

p.message {
	color: #B91315;
	margin-left: 12px;
	font-size: 10pt;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
a, a:link {
	color: #5db911;
}
a:hover {
	color: #6b6b6b;
}

header {
	margin: 4pt 4pt 16pt 4pt;
}
#logo {
	display: inline-block;
	font-family: 'Slabo 13px', serif;
	font-size: 36pt;
	font-weight: 400;
}
#author {
	display: inline-block;
	margin-left: 16pt;
	
	font-family: 'Slabo 13px', serif;
	font-size: 16pt;
	font-weight: 400;
}
#logo a:hover .primary-color {
	color: #6b6b6b;
}
#logo a:hover .secondary-color {
	color: #5db911;
}

#nav {
	display: inline-block;

	margin-left: 32pt;
	
	font-family: 'Slabo 13px', serif;
	font-size: 16pt;
	font-weight: 400;
}
#nav > a, #nav > a:link, #nav > a:active {
	margin-left: 16pt;
	color: #9542c2;
}
#nav > a:hover {
	color: #6b6b6b;
}

.primary-color {
	color: #5db911;
}
.secondary-color {
	color: #6b6b6b;
}
em {
	font-style: italic;
}

h1 {
	font-family: 'Slabo 13px', serif;
	font-size: 24pt;
	font-weight: 400;

	color: #4DBCE9;
}
p {
	font-family: 'Slabo 13px', serif;
	font-size: 12pt;
	font-weight: 400;

	color: #6b6b6b;
}
a.title {
	color: #4DBCE9;
}
a.title:hover {
	color: #6b6b6b;
}
.chart-title {
	margin-left: 48pt;
	margin-bottom: 8pt;
}
.description {
	margin-left: 48pt;
}

.form-section {
	margin-top: 16pt;
}
.form-section:first-child {
	margin-top: 0pt;
}
.form-section-title {
	color: #6b6b6b;
}