meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title powerdash | #{setname}
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Slabo+13px')
link(rel='icon', sizes='16x16', href='icon/favicon.png')
link(rel='icon', sizes='192x192', href='icon/launcher-4x.png')