doctype html
html(lang='en')
	head
		include includes/head
		link(rel='stylesheet', href='/css/save.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/socket.io/socket.io.js')
		script(src='/js/settings.js')
		script(src='/js/save.js')
	body
		include includes/header

		div.container
			div.bucket
				h1#amount
			h2 of water saved
				br 
				a(href='http://at41coopersquare.github.io/RainWaterHarvesting.html') from rainwater harvesting
				br
				|since October 5, 2011
		
		script.
				var dashmeter = new dashMeter(host, '!{dgm}', '!{variables}', !{latest});