doctype html
html(lang='en')
	head
		include includes/head
		link(rel='stylesheet', href='./css/save.css')
		script(src='/socket.io/socket.io.js')
		script(src='/js/settings.js')
		script(src='/js/save.js')
	body
		div.container
			h1#amount 
		
		script.
				var dashmeter = new dashMeter(host, '!{dgm}', '!{variables}', !{latest});